<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->


    <body>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYtJREFUSEu1lfExBkEMxd9XASqgA1RACVSAClABKkAFqIAO0AEd6AAVML+bvJmIu7Nn7ss/d7fZzUte3uYWWrItlhxfUwB2Jd1EQqeSHlqSawHYknQpCYBsT5IuJPEctDGADUlnkg7j9Kek83jnuRLvtwH01ofSB7Aq6TgF87n9RAt7TiIB+wG9lvSRgSqADxEAuwtq1uMbOo4kOVuqJPBB+AluoG4pA7xI2oyNz7HR/AKcabkKWpwt/cG/E+eJtV0BvlJpBEYpbLRRFUGgD8vZAkC/shC65HMFGcBB+xoILaw7W+hiDUMIbn4TgDOFktxAquFO7KUKkSz73mOtGcAxoIRemCoLwX6zYSYmA2T18W4hPOaMJc0CgFTpA/Yj4FwAWRwoDnVZ0rNUMDRiaPr9UJPzRat81+8KUO/BqySG5K9xXW/sEJABhgYicu1saNjVQVaB1noGou/B6LDLgeogyz6C5IFIk5vHdc22DjL760DspbPlj+aDKMTcQuFsv8y/FDXqn1LBv4C+AQl/WBnafVLXAAAAAElFTkSuQmCC" />
                    <div class="logo_name">Delivery services</div>
                </div>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAExJREFUSEtjZKAxYKSx+QyjFhAM4QEJov8EnYVfAYqjsfmA5hZQ6AFU7QMSBzT3Ac3jgOYW0DyIhr4FNI8Dmlsw9ONg1AcoIUDz0hQAbegGGXzv/l0AAAAASUVORK5CYII"
                    id="chh" />
            </div>
            <ul class="logo_content">
                <li>
                    <a href="/">
                        <img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAIBJREFUSEvtVUEOgDAI616m/lxfNmMixrBgids4sePoaCiUFUw+ZXJ+hBPsABajqiu23TEvrqmgEsmkYi/OJNDSSUJNwHBJwBWwNLR63d3kr/E7AKyOMX3j4o02fHPoHngd6sWlk//7gO0YvZtkOJp7lsh62E2QTn4UCP+Th6+KE3LlOBnu4XThAAAAAElFTkSuQmCC" />
                        <span class="logo_name">Dashboard</span></a>
                </li>
                <ul class="nav_list">
                    <li>
                        <a href="/add-user">
                            <img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAbVJREFUSEu1lYExBEEQRf9FgAjIABGQASJABIgAESACREAGyIAMZIAIqLfV/6qva3btKjdVVzfTO9O/+//umZmWPGZL9q8pALuSziVtSDqW9DwmuDEAOMTxUXEIwJmk1yGgIYBVSSeSLsLBV5pjWwn7naRLSe8toD6A04gaEI8DSY+xwO49mD4lXUu6ifn8UAXYl3QVPLPpXhLcr8cJaIF/Rwt9ZHMY3wECmHPdyABEtxf2lzhoITmUaSFaaMEhgyD4vhNrdNmuAN+JDhzjIFcKtOAEXUwLa2hxhfG/EHzOwACIOSQgtCCso4UubIx8tvPdAlgbISDZ3EpCMw8yhrqPTH8LwLY+AU1VrrAcrJnozaBWVhXQEbsQnkrBTAawQzoZWhiUKjowFhzW9RBFid75tDrjA5VGNbnifs0gd2wFaQHkPYj+0CcyzbEZH1t90KLDzmsfvEnaqmXKGp4ptb4+qBnUm5Y+oOutT/M98EXGRgO5Y13j9Eq9aQmMn6+PLruh67rVB659nHjOxUYAk67rLBxcEpmvhtwHZPnnB6dWEEKaW7T6tyez1Q+jbWPe5NHOWht/ACgGaxmb7/TKAAAAAElFTkSuQmCC" />

                            <span class="logo_name">Add </span></a>
                    </li>
                    <ul class="nav_list">
                        <li>
                            <a href="#">
                                <img <img
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASJJREFUSEvdlOFVAkEMhD8qkA7ECpQKxAqUDixBK1AqkA7ADrQCLUErQDuQCuDNvc29vJXbhVvWH+bP/djJTJKbZEDlGFTm538J3AAPwMWeY3sHrnJYP6Iv4DSXEL1nR+wBmwPJBa8u4GuaA/dxkaUdxHwSkFAbpQKWPwHegB9gDOh/NnEsAXG9ANfhO60hMAI+gJNgX9m4uIMu42lEZzUFWu7Sf5BanYb7TwX8qZgFP98CT4kyu3CfdtN8B+Zl35mcsUoIWL7HfQN3wa6/bondIwGeA1AXdg0MnZAseBnePU7kEtu5yX5Z4qJfAZ1zC41usaMzjewxJSB1beS5A6kqja9d//AmIgnpxAuzjMljF3lhEVo0G9k3sve8L7HlVRfYAvbfNRkMXkC9AAAAAElFTkSuQmCC" />

                                <span class="logo_name">Enlivraison</span></a>
                        </li>
                        <ul class="nav_list">
                            <li>
                                <a href="">
                                    <img <img
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAEpJREFUSEtjZKAxYKSx+QzDy4L/VA4ucOggB9GoBeghPBpEBNPcaBCNBhHBECCoYDQV4Q2i2wwMDGroxTXBQCVHwfCqMskJAYJ6AA6zERm3NoYlAAAAAElFTkSuQmCC" />

                                    <span class="log_name">Suspended</span></a>
                            </li>
                            <ul class="nav_list">
                                <li>
                                    <a href="">
                                        <img
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAK9JREFUSEvtldENgzAMRB+T0A0omzAKnYCO1E1aNoBJqCwRKYRSGhxTPsiv47v4zrEzjE9mjM+uBBXQAFdlVR1wAx6C41cggVwJ7tJfQBkSDGNUK9sExwczJ0gpUQ9cQonE3GciD0R/8WHWplqZZvmhoX8hcKRL6n1tlF8qMCeI8f2YHpwVTBQw/wcp5lHr75TwH8jSuQNFjLPeXRlytVs2n2bRRtzlNO1yWX2QOcEbG1IoGUwu9aYAAAAASUVORK5CYII=" />

                                        <span class="log_name">Delivred</span></a>
                                </li>
                                <ul class="nav_list">
                                    <li>
                                        <a href="#">
                                            <img
                                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARBJREFUSEu9leERATEQhT+VoAJUoAUqoAN0QAWoABWgEzqgEubNXEysExvu3Ex+3eZ9m5fdTYOav0bN+ngAY6APdIulnE7FOgDHVJIpwABYAq0Pp7wAM0Cwl+8dYAVMMu2bAwu7pwzwjXjQXQPTGGIBsmWfmbkNH8Z2WYD8bCYAIf6WiJFGO/yPAaqWzYfsPQBJPE4RA7bAqCLADlDCT32g2u5UBJBWzwJSvlpL3bGxRe5NgDs2Bngs8lbwOYyV3Ev2Akov2dNkP5Wpsqui0a7xgPz7qNApah124RK/gbxMUttotkJ06QKlhp/2yHON6KwHJ4YJpKUnM4wS1bn6RqKlwmXT1FvjWXGeRz9L0AbfAbKPNBkN4HdsAAAAAElFTkSuQmCC" />

                                            <span class="log_name">Returns</span></a>
                                    </li>
                                    <ul class="nav_list">
                                        <li>
                                            <a href="#">
                                                <img
                                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAL5JREFUSEvdldENwkAMQ18ngA0KE8AIjEIng03aUWADNgBZ6kkHKpUjNVLhvhM7cZxLQ/JrkvFZDcEJuAA7o+Mb0AGDYt0OlNQa4CVE8fsIwXPMdAp6i3UShP2bBFfgPEqzaAdboAeOARPU85+dgUAFLpKICSwCySGvR9+nUb52kE6gyiWRNnCTIVGRRvqL5JAx5Fr/NJtODXnRPfhPgkflLGdP7uV2uL+pDo6G7twEgWunQgfHqXoyxu1gvQQvt6woGUCNtO0AAAAASUVORK5CYII=" />


                                                <span class="log_name">Logout</span></a>
                                    </ul>

        </div>
    </body>

    < <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>prenom</th>
                        <th>telephone</th>
                        <th>wilaya</th>
                        <th>commune</th>
                        <th>poids</th>
                        <th>type d'envoie</th>
                        <th>update/delete</th>
                        <th>delete</th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_show') %>
                </tbody>
            </table>
        </form>
        </div>
        </main>
        <!-- /Main Site -->


        <!-- include footer -->
        <%- include('include/_footer') %>
            <!-- /include footer -->